{% extends 'base.html' %}
{% block section-title %}Registration{% endblock %}
{% block maincontainer %}

<div class="jumbotron">
  <h1>Join the BC2_geeks 2014 World Cup!</h1>
  
  <form class="form-inline" role="form" method="POST">
  <label for="inputEmail1">Email address</label>
    <input name="email" style="width:300px" type="email" class="form-control" id="inputEmail1" placeholder="Enter email">
	<button class="btn btn-primary btn-lg" role="button">Register</button>
	{% csrf_token %}
  </form>
</div>


{% endblock %}