{% extends 'base.html' %}{% load static %}
{% block section-title %}
<script src="{% static 'js/highcharts.js' %}"></script>
<a href="{% url 'predictor.views.predict' userid=userid %}" class="navbar-link active" style="color:#BBB">Games</a> / Scores
<span class="pull-right">
</span>
{% endblock %}
{% block maincontainer %}


{% if games %}
<div id="container" style="width:100%; height:500px;"></div>
{% endif %}
<p class="text-center" style="margin-bottom:16px">
<button type="button" class="btn btn-primary" onclick="toggle();">Toggle All</button>
</p>
<table class="table table-condensed">
<tr><th>Name</th><th>Total Score</th></tr>
{% for u in users %}<tr><td>{{ u.predictions }} {{ u.first_name|default:u.username }} </td><td>{{ u.points|floatformat:"0"|default:"-" }}</td></tr>{% endfor %}
</table>


<script>
function toggle()
{
	var _redraw = chart.redraw;
	chart.redraw = function(){};	
	for(s in $('#container').highcharts().series)
	{
    	if($('#container').highcharts().series[s].visible)
       	 $('#container').highcharts().series[s].hide()
    	else
        	$('#container').highcharts().series[s].show()
	}
	chart.redraw = _redraw;
	chart.redraw();
}

var chart;
$(function () {
        chart = new Highcharts.Chart({
            chart: {   zoomType:'x',type: 'line', renderTo:'container'    },
            title: {   text: 'Current Rankings'   },
            xAxis: {
            //    categories: [
            //        {% for g in games %}'{{ g.team_a }} {{ g.team_b }}'{% if not forloop.last %},{% endif%}{% endfor %}],
                labels: { enabled:false }//rotation: 0 }
            },
            yAxis: {
                title: {     text: 'Rank'   },
                reversed:true,
                labels:{ enabled:false },
                min:1,max:{{ max_rank }}
            },
            plotOptions: {
                line: {
                    tooltip: { valuePrefix: 'Rank: '},  
                   // enableMouseTracking: true
                }
            },
             tooltip: {
            formatter: function() {
                return '<b>'+this.series.name + '</b> Rank : ' +this.y
                    +'<br>'+ this.point.name ;
            }
        },
            series: [{% for o in users %}{% for user,obj in user_rankings.items %}{% if o.first_name == obj.first_name %}
            {   name: '{{ obj.first_name }}',
                data: [{% for d in obj.data %}{ name:'<b>{{ d.game.team_a }} v {{ d.game.team_b }} {{ d.game.goals_a }} - {{ d.game.goals_b}}</b>' 
                            +'<br>Prediction: {{ d.prediction.predict_a }} - {{ d.prediction.predict_b }}'
                            +'<br>Match Points: {{ d.prediction.points_awarded|floatformat:"0" }}'
                            +'<br>Total Score: {{ d.total }}', y: {{ d.rank|default:"null" }}, }{% if not forloop.last %},{% endif %}{% endfor %}]}{% endif %}{% endfor %}{% if not forloop.last %},{% endif %}
        {% endfor %}]
        });
    });
</script>

{% endblock %}
